<div class="header">
  <div class="header-logo">
    <img
      src="https://f0.pngfuel.com/png/322/363/e-commerce-computer-icons-shopping-cart-software-online-shopping-shopping-cart-png-clip-art.png"
      alt="Logo"
    />
    <h1>
      <span style="font-size: 2rem;">E-Market,</span><br />
      <span style="font-size: 1rem; padding: 0;">Time to make the market digital.....</span>
    </h1>
  </div>
  <div class="header-buttons"><button>About Us</button> <button>Contact Us</button> <button>Profile</button></div>
</div>
